<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <style>
         *{
                margin: 0;
                direction:rtl;
            }
            .header {
                text-align: center;
            }
            h1,h2,.tax-date,h3,h4,table,p{
                margin-top:1em !important;
                margin-bottom:-5px;

            }
            .container { 
                width:90%;
                margin:auto;
                margin-top:0px;
                height: 90%;
            }
            .tax-date {

                width:40%;
                margin:auto;
                display:flex;
                justify-content:space-around;
            }
            .bill-container {
                /* width:90%; */
                margin:auto;
                text-align: right;
                direction:rtl;
            }
            .container .header h3 {
                text-align: right;
                
            }
            .direct-pay {
                border: 1px solid #000;         
                padding: 0.5em;
                margin-top: 1em;;
            }
           
            .bill-table {
                border: 1px solid #000;          

                padding: 0.5em;
                margin-top: 1em;;
            }
            .pay-for-bill {
                border: 1px solid #000;          
                padding: 0.5em;
                margin-top: 1em;
                text-align:right;

            }

            table {

                width: 100%;
                border-spacing: 0;
                direction:rtl
            }
            table thead td {
                /* text-align: center; */
            }
            table td {
                padding: 5px;
                border: 1px solid #000;
            }
            .client-conc {
                /* display: flex; */
                /* margin-bottom: -2em; */
                text-align:center;
                justify-content: center;
            }
            .conc {
                margin-top: 1em !important;
                display:flex;
                justify-content:space-around;
                width:40%;
                margin:auto;
                /* border: 1px solid #000; */
            }
            .virt {
                display: flex;
                flex-direction: column;
                flex-wrap: wrap;   
             }
             .virt h4 {
                margin-bottom: 1.6em;
             }
       
          
    </style>
    <title>سجل عمليات</title>
</head>
<body>
    <div class="container">
        <div class="client-conc">
            <h2>
                السيد:/ <%=client.clientName %> 
            </h2>
            <div class="conc">
                <div class="virt">
                    <h4> حساب العميل الاجمالي </h4>
                    <span> <%= client.totalBalance %></span>
                </div>
                <div class="virt">
                    <h4>مدين</h4>
                    <span> <%= client.remain %></span>

                </div>
                <div class="virt">
                    <h4>مدفوع</h4>
                    <span> <%= client.paid %></span>
                    
                </div>
            </div>
            </div>
        
       <div class="all-op container">

       </div>
        <% for (element of ops)  { %> 
            
        <%if ( element.type === 'فاتوره بيع' || element.type === 'فاتورة بيع'  ||  element.type === 'فاتورة مرتجع بيع' ) { %>
            <div class="bill-table">
                <div class="inner-header">
                    <p>
                        <h4>رقم العملية : <%=element.id %></h4>
                        <h4>تاريخ العملية : <%= (new Date(element.date)).toLocaleDateString('en-US') %></h4>
                        <h4>نوع العملية : <%= element.type %></h4>
                    </p> 
                </div>
                
            </div>


        <% } else if ( element.type === 'عملية دفع مباشرة عميل') { %>
            <div class="direct-pay">
                <div class="inner-header">
                    <p>
                        <h4>رقم العملية : <%=element.id %></h4>
                        <h4>تاريخ العملية : <%= (new Date(element.date)).toLocaleDateString('en-US') %></h4>
                        <h4>نوع العملية : <%= element.type %></h4>
                    </p>  
                </div>
                <div class="operation">
                    <table>
                        <thead>
                            <tr>

                                <td> المدفوع</td>
                                <td> مدين</td>
                                
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td> <%= element.paid %></td>
                                <td> <%= element.remainAfterOp %></td>
                            </tr>
                        </tbody>
                    </table>
                    <p >
                        <%=element.note %>
                    </p>
                </div>

            </div>
        <%   } else if ( element.type === 'حساب فاتورة' || element.type === 'حساب فاتوره' ) { %>
            <div class="pay-for-bill">
                <div class="inner-header">
                    <p>
                        <h4>رقم العملية : <%=element.id %></h4>
                        <h4>تاريخ العملية : <%= (new Date(element.date)).toLocaleDateString('en-US') %></h4>
                        <h4>نوع العملية : <%= element.type %></h4>
                    </p>  
                </div>
                <div class="operation">
                    <table>
                        <thead>
                            <tr>
                                <td> رقم الفاتورة</td>
                                <td> المدفوع</td>
                                <td>مدين </td>
                                
                            </tr>
                        </thead>
                        <tbody>
                            <tr >
                                <td> <%= element.billId %></td>
                                <td> <%= element.paid %></td>
                                <td> <%= element.remainAfterOp %></td>
                            </tr>
                        </tbody>
                    </table>
                    <p >
                        <%=element.note %>
                    </p>
                </div>

            </div>
        <% }%>
        <% }%>
    </div>
</body>
</html>