<!DOCTYPE html>
<html lang="ar" dir="rtl">
    <head>
        <!-- meta links -->
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- CSS link -->
        <!-- <link rel="stylesheet" href="style.css"> -->
        <!-- Tittle -->
        <title>فاتورة</title>
        <style>

@import url('https://fonts.googleapis.com/css2?family=Amiri:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Amiri', serif;
    min-height: 100vh;
    max-width: 90%;
    margin: auto;
}
p {
    font-weight: 700;
}
/* Start Header */
header {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
header h2 {
    margin: 0.8rem 0 0.5rem;
}
header h3{
    font-size: 0.9rem;
}
header div {
    min-width: 40%;
    display: flex;
    justify-content: space-between;
}
header p span {
    font-weight: 400;
}
/* End Header */

/* Start Table */
table {
    width: 100%;
    border-spacing: 0;
}
table caption {
    text-align: start;
}
table thead td {
    text-align: center;
}
table td {
    padding: 10px;
    border: 1px solid #000;
}
/* End Table */

/* Start Info */
.info {
    display: flex;
    justify-content: space-around;
    text-align: center;
    margin-top: 20px;
}
/* End Info */

/* Start Footer */
footer p:first-child {
    margin: 30px;
    text-align: center;
}
footer p:last-child {
    text-align: end;
}
/* End Footer */

        </style>
    </head>
    <body>
        <!--Start Header  -->
            <header>
                <h3>مصنع حلويات العزباوي</h3>
                <h2>فاتورة <%=billType %> رقم  <%= bill.id %> </h2>
                <div>
                    <% if (type == 2 || type == 3 ) { %>
                    
                    <p>الرقم الضريبي: <span>028-966-723</span></p>
                    <% } %>
                    <p>التاريخ: <span><%= (new Date(bill.date)).toLocaleDateString('en-US') %></span></p>
                </div>
            </header>
        <!--End Header  -->
        <!-- Start Table -->
            <table>
                <caption>السادة: <span><%=client.clientName %></span></caption>
                <thead>
                    <tr>
                        <td>المنتج</td>
                        <td>عدد العبوات</td>
                        <td>وزن العبوة</td>
                        <td>سعر الكيلو</td>
                        <td>إجمالي الوزن</td>
                        <% if(type == 1 || type ==3) { %>
                            <td>السعر الإجمالي للمنتج</td>
                        <% } %>
                    </tr>
                </thead>
                <tbody>
                    <% for(product of products) { %>
                    <tr>
                        <td> <%= product.productName %></td>
                        <td> <%= product.amount %></td>
                        <td> <%= product.weight %></td>
                        <td> <%= product.kiloPrice %></td>
                        <td> <%= (product.weight * product.amount) %></td>
                        <% if(type == 1 || type ==3) { %>
                        <td> <%= (product.weight * product.amount * product.kiloPrice) %></td>
                        <% } %>
                        
                    </tr>
                    <% } %>
                    <tr>
                        <td colspan="1">الإجمالي</td>
                        <td><%= totalAmount %></td>
                        <td colspan="2"></td>
                        <td><%= totalWeight %></td>
                        <% if(type == 1 || type ==3) { %>
                        <td><%= totalCost %></td>
                        <% } %>
                    </tr>
                </tbody>
            </table>
        <!-- End Table -->
        <!-- Start Info -->
        <% if(type == 1 || type ==3) { %>

            <div class="info">
                <div>
                    <p>الرصيد السابق للعميل</p>
                    <span><%= oldClientTotalBalance %></span>
                </div>
                <% if (billType !== 'فاتوره مرتجع بيع') { %>
                <div>
                    <p>المبلغ المدفوع</p>
                    <span> <%=bill.paid %> جنيه</span>
                </div>
                <% }%>
                <div>
                    <p>رصيد العميل بعد الفاتوره</p>
                    <span><%= client.totalBalance %></span>
                </div>
            </div>
        <% } %>
        <!-- End Info -->
        <!-- Start Footer -->
            <footer>
                <p>إستلمت البضاعة الموضّحة بعاليه في حاله جيدة و تحت مسؤوليتي وأتعهد بدفع قيمه البضاعة لأمر الشركة أو لمن تؤول إليه و التقاضي بالجهة التي ترغبها الشركة .</p>
                <p>توقيع المستلم</p>
            </footer>
        <!-- End Footer -->
    </body>
</html>
